/* Vars */
/* Helper classes */
.bg-dark-navy {
  background-color: #212731;
  color: #f8f8f8; }

.d-md-block {
  display: none; }
  @media (min-width: 1024px) {
    .d-md-block {
      display: block; } }

.d-md-flex {
  display: none; }
  @media (min-width: 1024px) {
    .d-md-flex {
      display: flex; } }

@media (min-width: 1024px) {
  .d-md-none {
    display: none; } }

.parallax-hero {
  position: fixed;
  top: 4.375rem;
  z-index: -1;
  width: 100%; }
  .parallax-hero img {
    width: 100%;
    height: auto; }
  @media (min-width: 1024px) {
    .parallax-hero {
      display: flex;
      flex-direction: row-reverse; }
      .parallax-hero img {
        width: 50%; } }

.parallax-hero-placeholder {
  min-height: 85vh;
  min-width: 100%; }
  @media (min-width: 1024px) {
    .parallax-hero-placeholder {
      min-height: 48rem;
      max-height: 48rem; }
      .parallax-hero-placeholder .hero-content {
        background-color: #212731;
        background: linear-gradient(to bottom left, #212731 50%, #afd151 50%);
        background: linear-gradient(to bottom left, white 50%, #d7ee94 50%);
        display: flex;
        width: 50%;
        height: 100%; }
      .parallax-hero-placeholder h1 {
        letter-spacing: 2px;
        font-size: 5rem;
        padding: 3rem;
        margin: 0;
        text-transform: uppercase;
        line-height: 1.1;
        padding-top: 13rem;
        max-width: 27.5rem;
        margin: auto;
        margin-top: 50%;
        transform: translateY(-50%);
        text-align: center; }
        .parallax-hero-placeholder h1 span {
          font-size: 3.5rem;
          font-style: italic; } }
  @media (min-width: 1280px) {
    .parallax-hero-placeholder {
      min-height: 96vh; }
      .parallax-hero-placeholder h1 {
        font-size: 7rem; } }

main p {
  margin-top: 2rem;
  margin-bottom: 0; }
main iframe, main img {
  width: 100%;
  margin-top: 2.5rem; }
main .container {
  padding: 0 1rem;
  max-width: 48rem;
  margin: auto; }
main section {
  padding: 4rem 0 0; }
main {
  background-color: white;
  background-image: url("../assets/bg-pattern.png");
  background-repeat: repeat;
  background-size: 28rem;
  padding-bottom: 4rem; }
@media (min-width: 768px) {
  main p {
    margin-top: 2.5rem; }
  main iframe, main img {
    margin-top: 3rem; }
  main .container {
    padding: 0 4rem; } }
@media (min-width: 1024px) {
  main section:nth-child(2) .container {
    display: flex;
    flex-direction: row-reverse; }
  main section:nth-child(2) .content {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  main section:nth-child(2) h2 {
    flex: 1;
    display: flex;
    padding-bottom: 1rem; }
    main section:nth-child(2) h2 span {
      align-self: flex-end; }
  main section:nth-child(2) .arrow-animated {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1.3;
    transform: scale(0.6); }
    main section:nth-child(2) .arrow-animated .arrow {
      width: 4rem;
      height: 4rem;
      border: 7px solid;
      border-color: #d7ee94 transparent transparent #d7ee94;
      transform: rotate(-45deg); }
    main section:nth-child(2) .arrow-animated .arrow-sliding {
      position: absolute;
      -webkit-animation: slide 4s linear infinite;
      animation: slide 4s linear infinite; }
    main section:nth-child(2) .arrow-animated .delay1 {
      -webkit-animation-delay: 1s;
      animation-delay: 1s; }
    main section:nth-child(2) .arrow-animated .delay2 {
      -webkit-animation-delay: 2s;
      animation-delay: 2s; }
    main section:nth-child(2) .arrow-animated .delay3 {
      -webkit-animation-delay: 3s;
      animation-delay: 3s; }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(15vw); }
    20% {
      opacity: 1;
      transform: translateX(9vw); }
    80% {
      opacity: 1;
      transform: translateX(-9vw); }
    100% {
      opacity: 0;
      transform: translateX(-15vw); } }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(15vw); }
    20% {
      opacity: 1;
      transform: translateX(9vw); }
    80% {
      opacity: 1;
      transform: translateX(-9vw); }
    100% {
      opacity: 0;
      transform: translateX(-15vw); } }
  main section:nth-child(2) img {
    flex-basis: 50%;
    width: 45%;
    margin-top: 0; } }
@media (min-width: 1280px) {
  main {
    padding-bottom: 7.5rem; }
    main section {
      padding: 7.5rem 0 0; }
      main section:nth-child(2) .content {
        margin-top: 2rem;
        margin-left: 5rem; } }

/*# sourceMappingURL=home.css.map */
