@import './helpers.scss';

@font-face { 
  font-family: Montserrat; 
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf'); 
} 

@font-face { 
  font-family: Montserrat; 
  font-weight: bold; 
  src: url('../assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

* { 
  font-family: $font-primary; 
}

body {
  margin: 0;
}

h2 {
  font-weight: normal;
  font-size: 1.75rem;
  margin: 0;
  line-height: 1.3;
}

p {
  font-size: 0.875rem;
  line-height: 1.5;
}

button {
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (min-width: #{$sm}) {
  h2 {
    font-size: 2.5rem; 
  }
  
  p {
    font-size: 1.125rem;
  }
}

@media (min-width: #{$lg}) {
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.4;
    letter-spacing: 1px;
  }

  p {
    font-size: 1.25rem;
  }
}