@import './helpers.scss';

.gallery {
  main {
    margin-top: 70px;

    @media (min-width: #{$md}) {
      margin-top: 89px;
    }
    
    .grid {
      // display: grid;
      // grid-template-columns: repeat(3, 1fr);
      // display: flex;
      // flex-wrap: wrap;
    }
    .row{
      display: flex;
      & > * {
        flex:1;
      }
      overflow: hidden;
    }

    .column {
      width: 100%;
      display:inline-block; 
    
    }

    img {
      /* Just in case there are inline attributes */
      // width: 100% !important;
      // height: 50% !important;
      // object-fit: cover;
      width: 100%;
    }
  }
}